// @import 'partials/2_skladnia'
// @import 'partials/3_selektory'
// @import 'partials/4_zmienne'
// @import 'partials/5_operatory'
// @import 'partials/6_mixiny_i_funkcje'
// @import 'partials/7_wsparcie'
// @import 'partials/8_wbudowane_funkcje'
// @import 'partials/9_hashe_i_bloki'
// @import 'partials/10_media'
// @import 'partials/11_import'
// @import 'partials/12_extend'
// @import 'partials/13_nib'
  
// todo: url, css literal

// @import 'partials/mixin'

// @import 'gratka_assets/footer'
// @import 'gratka_assets/contact_bar'
