@import 'nib'

.back-to-top {
  absolute: top left;
  fixed: bottom 10px right 5px;
}

.clearfix {
  clearfix();
}

button {
  border-radius: 1px 2px / 3px 4px;
}

button {
  border-radius: 5px;
}

button {
  border-radius: bottom 10px;
}

button {
  overflow: ellipsis;
}

// global-reset()
// nested-reset()
// reset-font()
// reset-box-model()
// reset-body()
// reset-table()
// reset-table-cell()
// reset-html5()
