body
  border-radius 1px 2px / 3px 4px
  
  box-shadow: 10px
  filter: grayscale(100%)
  
  display: flex
  flex: 1
  flex-basis: 80px
  flex-direction: row-reverse
  flex-grow: 1

  column-fill: auto
  column-gap: 40px
  column-width: 100px

  perspective: 150px
  perspective-origin: 10% 10%

  transform: rotate(7deg)

  transition: width 2s

  animation: flow
  animation-fill-mode: forwards

@keyframes flow
  0%
    color: red
  100%
    color: blue
