// hashe, więcej w dokumentacji
// metody: keys, values, remove, merge

hash = {
  m: 10px,
  key: 'element',
  pad: 5rem
}

body
  margin: hash.m

  {hash['key']}
    padding: hash.pad

foo = {
  width: 10px,
  height: 20px,
  '&:hover': {
    padding: 0

  }
}

.bar
  {foo}

// bloki

foo =
  width: 20px
  height: 20px

.bar
  {foo}